name: PHP Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v4
        with:
          php-version: '8.2'
          extensions: mbstring, pdo_sqlite, sqlite3, zip
      - name: Install Composer
        run: composer install --no-progress --no-suggest
      - name: Run tests
        run: composer test
